<h3 class="sidebar-title">My Popular Repositories</h3>
{% for post in site.posts %}
<div class="card text-center">
    <div class="thumbnail">
        <div class="card-image geopattern" data-pattern-id="{{ repo.name }}">
            <div class="card-image-cell">
                <h3 class="card-title">
                    <a href="{{ site.baseurl }}{{ post.url }}" target="_blank">{{ post.title }}</a>
                </h3>
            </div>
        </div>
        <div class="caption">
            <div class="card-description">
                <p class="card-text">{{ post.excerpt | strip_html | strip }}</p>
            </div>
            <div class="card-text">
                <span data-toggle="tooltip" class="meta-info" title="1 stars">
                    <span class="octicon octicon-star"></span> 1
                </span>
                <span data-toggle="tooltip" class="meta-info" title="2 forks">
                    <span class="octicon octicon-git-branch"></span> 2
                </span>
                <span data-toggle="tooltip" class="meta-info" title="Last updated：{{ post.date | date: "%Y/%m/%d" }}">
                    <span class="octicon octicon-clock"></span>
                    <time datetime="{{ repo.updated_at }}" title="{{ repo.updated_at }}">{{ post.date | date: "%Y/%m/%d" }}</time>
                </span>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<script>
    $(document).ready(function(){

        // Enable bootstrap tooltip
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });

        $('.geopattern').each(function(){
            $(this).geopattern($(this).data('pattern-id'));
        });

    });
</script>