/* Move down content because we have a fixed navbar that is 50px tall */

body {
    font-family: "Helvetica Neue", "Helvetica", "Lucida Grande", "Arial", "Hiragino Sans GB", "Microsoft Yahei", "WenQuanYi Micro Hei", "sans-serif";
    padding-bottom: 20px;
}

.index-pane .site-header,
.index-pane .site-jumbotron {
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*首部样式*/

.index-pane .site-header {
    cursor: context-menu;
    background-color: #208d4e;
    min-height: 30px;
}


/*巨幕样式*/

.index-pane .site-jumbotron {
    background-color: #27AE60;
}

.index-pane .site-jumbotron .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.index-pane .site-jumbotron .container h1 {
    text-shadow: -5px 5px 0 rgba(0, 0, 0, 0.1);
}


/*笔记列表样式*/

.index-pane .list-group-item.item-note {
    border-radius: 0;
}

.index-pane .list-group-item.item-note .list-group-item-heading {}

.index-pane .list-group-item.item-note .list-group-item-text {
    color: #777;
}

.index-pane .list-group-item.item-note .list-group-item-date {
    color: #AAA;
}

.index-pane .list-group-item.item-note .list-group-item-date .glyphicon {
    margin-right: 10px;
}
